@keyframes right-arrow {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes up-arrow {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes e {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(2);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
@keyframes fullWord {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.transition-right-arrow {
  color: orange;
  animation: right-arrow 1s ease 0s 1 normal forwards;
}
.transition-up-arrow {
  color: orange;
  animation: up-arrow 1s ease 0s 1 normal forwards;
}
.transition-e {
  color: orange;
  animation: e 1s ease 0s 1 normal forwards;
}

.transitioned {
  animation: fullWord 1s ease 0s 1 normal forwards;
}
